@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@model IEnumerable<ApexDataApi.Models.Player>*@

@{
    ViewData["Title"] = "Index";
}

<h1>APEX DATABASE</h1>

<table class="table">
    <thead>
        <tr>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <h3>
                <a asp-controller="Players" asp-action="Index">View Players</a><br />
                <a asp-controller="Players" asp-action="IndexAdmin">View Players (Admin)</a><br />
            </h3>
        </tr>
        <tr>
            <h3>
                <a asp-controller="Characters" asp-action="Index">View Characters</a><br />
                <a asp-controller="Characters" asp-action="IndexAdmin">View Characters (Admin)</a><br />
            </h3>
        </tr>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topranked)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>