@model IEnumerable<ApexDataApi.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>APEX DATABASE</h1>

<table class="table">
    <thead>
        <tr>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <h3>
                @Html.ActionLink("View Players", "Index", "Players")<br />
            </h3>
        </tr>
        <tr>
            <h3>
                @Html.ActionLink("View Characters", "Index", "Characters")<br />
            </h3>
        </tr>
        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topranked)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }*@
    </tbody>
</table>