@model IEnumerable<ApexDataApi.Models.Player>
@*@model ApexDataApi.Models.Player*@

@{
    ViewData["Title"] = "Players";
}

<h1>Apex Ranked Leaderboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Player
                @*@Html.DisplayNameFor(model => model.PlayerName)*@
            </th>
            <th>
                Rank
                @*@Html.DisplayNameFor(model => model.Rank)*@
            </th>
            <th>
                Avatar
                @*@Html.DisplayNameFor(model => model.Avatar)*@
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Topranked)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Topranked)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </p>
</div>