@model IEnumerable<ApexDataApi.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Apex Ranked Leaderboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Rank
            </th>
            <th>
                Avatar
            </th>
            <th>
                Player
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Topranked)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Topranked)
                {
                    <img src="@Url.Content("~/Content/Images/topranked.png")" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @*<img src="@Html.DisplayFor(modelItem => item.Avatar)">*@
                @*<img src="@Url.Content(item.Avatar)" alt="Player Avatar" />*@
                @*<img src="Content/Images/test.jpg" />*@
                <img src="@Url.Content("~/Content/Images/test.png")" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </p>
</div>